<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User list</title>
</head>
<body>
<div>
    <form th:align="right" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h1>User list</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>User name</th>
            <th>Password</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td>
                <div th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></div>
            </td>
            <td><a th:href="@{/admin/editUser(id=${user.getId()})}">edit</a></td>
            <td><a th:href="@{/admin/users/delete(id=${user.getId()})}">delete</a></td>
    </table>
</div>
<div>
    <h1>Add user</h1>
    <form action="#" th:action="@{/admin/users/add}" th:object="${user}" method="post">
        <table>
            <tbody>
            <tr>
                <td>User name:</td>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="text" th:field="*{password}">
                </td>
            </tr>
            <tr>
                <td>Roles:</td>
                <td>
                    <ul>
                        <li th:each="role : ${ROLES}">
                            <input type="checkbox" name="rolesValues" th:value="${role}"/>
                            <label th:text="${role}"></label>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="add">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>